In [1]:
%load_ext autoreload
%autoreload 2

In [42]:
from src.data_utils import data_path, list_files, extract_files, archive_file
import pandas as pd

## Extract files

In [38]:
files = list_files()

files_csv=[f for f in files if f.endswith('csv')]

print(files_csv)

['sample_submission.csv', 'train_fp.csv', 'train_tp.csv']

In [39]:
extract_files(files_csv)

2020-12-19 04:20:35,816 INFO     pid:92 src.data_utils:027:extract_files Extracting sample_submission.csv ...
2020-12-19 04:20:35,835 INFO     pid:92 src.data_utils:027:extract_files Extracting train_fp.csv ...
2020-12-19 04:20:35,869 INFO     pid:92 src.data_utils:027:extract_files Extracting train_tp.csv ...

## Explore

In [47]:
sample_submission = pd.read_csv(data_path / 'sample_submission.csv')
sample_submission.head()

,recording_id,s0,s1,s2,s3,s4,s5,s6,s7,s8,...,s14,s15,s16,s17,s18,s19,s20,s21,s22,s23
0,000316da7,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,003bc2cb2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
2,0061c037e,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
3,010eb14d3,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
4,011318064,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

In [48]:
train_fp = pd.read_csv(data_path / 'train_fp.csv')

In [50]:
train_fp.head()

,recording_id,species_id,songtype_id,t_min,f_min,t_max,f_max
0,00204008d,21,1,13.8400,3281.2500,14.9333,4125.0000
1,00204008d,8,1,24.4960,3750.0000,28.6187,5531.2500
2,00204008d,4,1,15.0027,2343.7500,16.8587,4218.7500
3,003b04435,22,1,43.2533,10687.5000,44.8587,13687.5000
4,003b04435,23,1,9.1254,7235.1562,15.2091,11283.3984

In [59]:
train_fp.shape

(7781, 7)

In [54]:
train_fp.species_id.nunique()

24

In [58]:
train_tp = pd.read_csv(data_path / 'train_tp.csv')
train_tp.shape

(1216, 7)

In [60]:
train_tp.species_id.value_counts()

23    100
17     68
12     50
1      50
3      50
4      50
5      50
6      50
7      50
8      50
10     50
11     50
13     50
14     50
15     50
16     50
18     50
21     50
0      50
22     44
19     43
20     40
2      37
9      34
Name: species_id, dtype: int64